.background-img {
  position: fixed;
  left: 0;
top: 0px;
  width: auto;
  z-index: -1;
}

body {
    /*
  background: rgb(34, 193, 195);
  background: -moz-linear-gradient(
    90deg,
    rgba(34, 193, 195, 1) 0%,
    rgba(45, 253, 188, 1) 100%
  );
  background: -webkit-linear-gradient(
    90deg,
    rgba(34, 193, 195, 1) 0%,
    rgba(45, 253, 188, 1) 100%
  );
  background: linear-gradient(
    90deg,
    rgba(34, 193, 195, 1) 0%,
    rgba(45, 253, 188, 1) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#22c1c3",endColorstr="#2dfdbc",GradientType=1);

  background-repeat: repeat;
  background-size: auto auto;

  margin-top: 10%;
  */
}

* {
  /* roboto font family */
  font-family: "Roboto", sans-serif;
}

.contact-container {
  display: grid;
  position: fixed;
  top: 0;
  left: 0;
  grid-template-columns: 2fr 3fr;
  align-content: space-between;
  align-items: center;
  justify-items: center;
  height: 80px;
  width: 100%;
  /* blur background filter */
  backdrop-filter: blur(0.5px);
  background-color: rgba(0, 0, 0, 0.2);
}

div.logo {
    display: flex;
  height: 50px;
  width: auto;
  color: rgb(255, 255, 255);
  font-weight: bold;
  text-decoration: none;
  align-items: center;
  margin-left: 10px;

}
h1 {
    font-family: 'Oleo Script', cursive;
    font-size: 25px;
    margin-left: 10px;
    margin-top: 10px;
    align-self: center;
}

.contact {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 20px;
  align-self: auto;
  margin-right: 20px;
  height: 50px;
  width: auto;
  grid-column-gap: space-between;
    justify-items: center;
    align-content: space-evenly;
}

li {
  list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
}
li > .link-text {
  border-bottom: 1px solid rgb(255, 255, 255);
}
li > .link-text:hover {
    animation: pulsePequeña 1s infinite;
}


a {
  color: rgb(255, 255, 255);
  text-decoration: none;
}

li .icon-nav {
  display: flex;
  height: 50px;
  width: 50px;
  color: rgb(255, 255, 255);
  font-weight: bold;
  text-decoration: none;
  text-align: center;
}
.icon-nav:hover {
    animation: pulse 1s infinite;
}
#logo-hero {
    height: 60px;
    width: 60px;
}
#logo-hero:hover {
    animation: pulse 1s infinite;
}

/* animation pulse */
@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.5);
  }
  100% {
    transform: scale(1);
  }
}
/* animation pulse */
@keyframes pulsePequeña {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.1);
    }
    100% {
      transform: scale(1);
    }
  }

/* media query strong.text-show when screen size is less than 768px */
@media screen and (max-width: 1258px) {
  .link-text {
    display: none;
  }
  .contact {
    grid-gap:0px;
  }
}
